<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>28A1073C-A153-4ED9-9BD4-8A68FCD089D1</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>1070091344546850</integer>
		<key>UUID</key>
		<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>983686977608704</integer>
			<key>UUID</key>
			<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
		</dict>
	</dict>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>1055261953617842</integer>
			<key>UUID</key>
			<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>3</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-829.70.1</string>
	<key>OSLoggingSupportVersion</key>
	<real>829.70000000000005</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>983686977608704</integer>
			<key>UUID</key>
			<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
		</dict>
	</dict>
	<key>SourceIdentifier</key>
	<string>AEE6655C-C77E-499A-B4D7-5BEE6DED8629</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>983686977608704</integer>
			<key>UUID</key>
			<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>ttl01</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>975475486967494</integer>
				<key>UUID</key>
				<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
			</dict>
			<key>ttl03</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>802675232261466</integer>
				<key>UUID</key>
				<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
			</dict>
			<key>ttl07</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>457079792136531</integer>
				<key>UUID</key>
				<string>1CCB8CC9-B01D-49EB-8902-3F57B2D71787</string>
			</dict>
			<key>ttl14</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>14539621681039798</integer>
				<key>UUID</key>
				<string>9A7A975C-70C5-4F46-9C35-5042EDFB9FA4</string>
			</dict>
			<key>ttl30</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>13157221681039798</integer>
				<key>UUID</key>
				<string>9A7A975C-70C5-4F46-9C35-5042EDFB9FA4</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
